/.github/
/.idea/
/config/dirigent.json
/config/dirigent.php
/config/dirigent.yaml
/config/dirigent.yml
/config/packages/dirigent.yaml
/node_modules/
/public/build/
/public/bundles/
/storage/
/tests/
/var/
/vendor/
