/.env
/compose.override.yaml
/config/conductor.yaml
/config/packages/conductor.yaml
/storage/

###> symfony/framework-bundle ###
/.env.conductor.local
/.env.conductor.local.php
/.env.conductor.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
