/.env
/compose.override.yaml
/config/dirigent.yaml
/config/packages/dirigent.yaml
/storage/

###> symfony/framework-bundle ###
/.env.dirigent.local
/.env.dirigent.local.php
/.env.dirigent.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> php-cs-fixer/shim ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< php-cs-fixer/shim ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
###< symfony/webpack-encore-bundle ###
