parameters:
    level: 5
    paths:
        - bin/
        - config/
        - migrations/
        - public/
        - src/
        - tests/
    excludePaths:
        - tests/bootstrap.php
    ignoreErrors:
        - '#^Property CodedMonkey\\Dirigent\\Doctrine\\Entity\\[a-zA-Z]+\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
        -
            message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:children\(\)\.$#'
            identifier: method.notFound
            count: 1
            path: src/DependencyInjection/DirigentConfiguration.php
