parameters:
    level: 5
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - tests/bootstrap.php
    ignoreErrors:
        - '#^Property CodedMonkey\\Dirigent\\Doctrine\\Entity\\[a-zA-Z]+\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
        -
            message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:children\(\)\.$#'
            identifier: method.notFound
            count: 1
            path: src/DependencyInjection/DirigentConfiguration.php
        -
            message: '#^PHPDoc tag @var with type CodedMonkey\\Dirigent\\Doctrine\\Entity\\PackageLink is not subtype of native type#'
            identifier: varTag.nativeType
            count: 1
            path: src/Package/PackageMetadataResolver.php
