:root {
  --color-primary: #A4133C;

  --page-login-bg: #997080;

  --sidebar-bg: #22181C;
  --sidebar-logo-color: var(--true-gray-200);
  --sidebar-menu-color: var(--true-gray-200);
  --sidebar-menu-header-color: var(--gray-400);
  --sidebar-menu-icon-color: var(--gray-400);
  --sidebar-menu-active-item-bg: #543B45;
  --sidebar-menu-active-item-color: #FFB3C1;

  --resize-handler-hover-bg: #835D6C;
}
