{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Repositories{% endblock %}

{% block page_content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">URL</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      {% for repository in repositories %}
        <tr>
          <td>{{ repository.url }}</td>
          <td>{{ repository.type }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
