:root {
  --conductor-primary: #22181C;

  --color-primary: var(--conductor-primary);

  --page-login-bg: var(--conductor-primary);

  --sidebar-bg: var(--color-primary);
  --sidebar-logo-color: var(--true-gray-200);
  --sidebar-menu-color: var(--true-gray-200);
  --sidebar-menu-header-color: var(--gray-400);
  --sidebar-menu-icon-color: var(--gray-400);
  --sidebar-menu-active-item-bg: #543B45;
  --sidebar-menu-active-item-color: #FFB3C1;

  --resize-handler-hover-bg: #835D6C;

  --code-color: var(--text-color);
}

.ea-dark-scheme {
  --conductor-primary: #543B45;
  --conductor-primary-heavy: #835D6C;
  --conductor-primary-subtle: #22181C;
  --conductor-secondary: #FFB3C1;
  --conductor-secondary-subtle: #dc8494;
  --conductor-body-bg: #111517;
  --conductor-body-bg-subtle: rgb(25, 31, 34);
  --conductor-body-bg-subtle-rgb: 25, 31, 34;

  --color-primary: var(--conductor-primary);

  --body-bg: var(--conductor-body-bg);

  --page-login-bg: var(--conductor-body-bg);
  --page-login-form-bg: var(--conductor-body-bg-subtle);

  --sidebar-bg: var(--conductor-primary-subtle);
  --sidebar-logo-color: var(--true-gray-200);
  --sidebar-menu-color: var(--true-gray-200);
  --sidebar-menu-header-color: var(--gray-400);
  --sidebar-menu-icon-color: var(--gray-400);
  --sidebar-menu-active-item-bg: var(--conductor-primary);
  --sidebar-menu-active-item-color: var(--conductor-secondary);

  --resize-handler-hover-bg: var(--conductor-primary);

  --dropdown-settings-active-item-color: var(--conductor-secondary);

  --button-primary-bg: var(--conductor-primary);

  --link-color: var(--conductor-secondary-subtle);
  --link-hover-color: var(--conductor-secondary);

  --code-color: var(--text-color);

  --bs-border-color: var(--conductor-primary);
}

.nav-pills {
  --bs-nav-pills-link-active-bg: var(--color-primary);
}

.ea-dark-scheme .bg-body-secondary {
  --bs-secondary-bg-rgb: var(--conductor-body-bg-subtle-rgb);
}
