{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Credits{% endblock %}

{% block page_content %}
  <h2 class="h5">Administrators</h2>

  <h2 class="h5">Developer</h2>
  <p>Conductor was developed by <a href="https://www.codedmonkey.com">Coded Monkey</a>.</p>
  <div class="mb-3">
    <a href="https://www.codedmonkey.com" title="Coded Monkey">
      <img src="https://www.gravatar.com/avatar/c23d082464fd39da2bca3936abc9372e" alt="Coded Monkey" class="img-thumbnail">
    </a>
  </div>
  <h3 class="h6">Sponsors</h3>
  <p>
    Conductor is looking for sponsors. <a href="https://www.codedmonkey.com/sponsor?project=conductor">Click here</a>
    to sponsor development of Conductor.
  </p>
{% endblock %}
