{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block page_content %}
  {% if pageName != 'readme' %}
    {% set rootPath = path('dashboard_usage_docs') %}
    <a href="{{ rootPath }}">
      <span class="fa-solid fa-chevron-left fa-fw" aria-hidden="true"></span>
      <span>Back to index</span>
    </a>
    <br><br>
  {% endif %}

  {{ page.contents|markdown_to_html }}
{% endblock %}
