name: Run tests

on:
  pull_request:
  push:

env:
  fail-fast: true
  PHPUNIT_FLAGS: ""

permissions:
  contents: read

jobs:
  test:
    name: "${{ matrix.operating-system }} / PHP ${{ matrix.php-version }}"
    runs-on: ${{ matrix.operating-system }}
    continue-on-error: false

    strategy:
      matrix:
        operating-system: ["ubuntu-latest"]
        php-version: ["8.2", "8.3", "8.4"]
        include:
          - operating-system: macos-latest
            php-version: "8.2"
          - operating-system: windows-latest
            php-version: "8.2"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP with extensions
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          extensions: intl, mbstring, zip
          php-version: ${{ matrix.php-version }}
          tools: composer:v2

      - name: Add PHPUnit matcher
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Set composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
        shell: bash

      - name: Cache composer
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --ansi --no-interaction --no-progress

      - name: PHPUnit version
        run: bin/phpunit --version

      - name: Run tests
        run: bin/phpunit ${{ env.PHPUNIT_FLAGS }}

  migrations:
    name: Validate migrations
    runs-on: ubuntu-latest

    services:
      database:
        image: postgres:16-alpine
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: conductor
          POSTGRES_PASSWORD: "!ChangeMe!"
          POSTGRES_USER: conductor

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PHP with extensions
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          extensions: intl
          php-version: 8.2
          tools: composer:v2

      - name: Set composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        id: install
        run: composer install --ansi --no-interaction --no-progress

      - name: Execute migrations
        run: bin/console doctrine:migrations:migrate --no-interaction -v

      - name: Validate schema
        run: bin/console doctrine:schema:validate --skip-mapping --skip-property-types --no-interaction -vvv
