<h1>Hi!</h1>

<p>To reset your password, please visit the following link</p>

{% set resetPasswordUrl = ea_url()
  .setRoute('dashboard_reset_password', {token: resetToken.token})
  .generateUrl() %}

<a href="{{ resetPasswordUrl|raw }}">{{ resetPasswordUrl|raw }}</a>

<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cheers!</p>
